<<<<<<< HEAD
header
{
  text-align:center;
  font-size:250%;
  color:#5e544c;"
}
body
{
  background-color:#f1ede5;
  font-family:DK Lemon Yellow Sun;
  font-size:130%;
  text-align:center"
}
p
{
  style="text-align:center" width:"75%"
}
footer
{
  color:#5e544c;
}
=======
header
{
  text-align:center;
  font-size:250%;
  color:#5e544c;"
}
body
{
  background-color:#f1ede5;
  font-family:DK Lemon Yellow Sun;
  font-size:130%;
  text-align:center"
}
p
{
  style="text-align:center" width:"75%"
}
footer
{
  color:#5e544c;
}
>>>>>>> 7d392d2e0054445ba930e9fc1cbcd7d2c1bb20fa
